@model EwiPraca.Models.EmployeeViewModel

<div class="modal-wrapper">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Dodaj dane Twojego Pracownika</h4>
    </div>
    @using (Ajax.BeginForm("AddEmployee", "Employee", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onEmployeeAddSuccess", OnFailure = "onFailureModalEdit" })) // { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.EditorFor(x => x)
    }
</div>

<script type="text/javascript">
    function onEmployeeAddSuccess(e) {
        if (e.Success == "true") {
            $('#add-employee-modal').modal('hide');
            window.location.reload();
        }
        else {
            BootstrapDialog.show({
                title: 'Informacja',
                message: e.Message
            });
        }
    }

    $(document).ready(function () {
        $('#employee-photo-row').hide();
    });

    $("#closbtn").click(function () {
        $('#add-employee-modal').modal('hide');
    });
</script>