@model EwiPraca.Models.JobPartDictionaryValueViewModel

<div class="modal-wrapper">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closbtndictvalue">×</button>
        <h4 class="modal-title" id="myModalLabel">Edytuj etat</h4>
    </div>
    @using (Ajax.BeginForm("EditJobPartDictionaryValue", "Employee", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onJobPartDictionaryValueEditSuccess", OnFailure = "onFailureModalEdit" })) 
    {
        @Html.AntiForgeryToken()
        @Html.EditorFor(x => x)
    }
</div>

<script type="text/javascript">
    function onJobPartDictionaryValueEditSuccess(e) {
        if (e.Success == "true") {
            showLoader();
            var options = { "backdrop": "static", keyboard: true };
            var data = { companyId: @Model.UserCompanyId }
            $.ajax({
                type: "GET",
                url: "@Url.Action("AddJobPartDictionaryView", "Employee")",
                contentType: "application/json",
            data: data,
            datatype: "json",
            success: function (data) {
                $('#edit-job-part-dictionary-value-modal').modal('hide');
                $('#add-job-part-dictionary-modal-content').html(data);
                $('#add-job-part-dictionary-modal').modal(options);
                $('#add-job-part-dictionary-modal').modal('show');
                hideLoader();
            },
            error: function () {
                hideLoader();
                alert("Dynamic content load failed.");
            }
        });
        }
        else {
            showErrorMessage(e.Message);
        }
    }
    $(document).ready(function () {
        $("#closbtndictvalue").click(function () {
            $('#add-job-part-dictionary-modal').modal('show');
        });
    });
</script>
