@model EwiPraca.Models.CompanyEmployeesViewModel
@{
    ViewBag.Title = Model.CompanyName + " - Pracownicy";
}
@section navigation{
    @Html.Partial("_Menu", new MenuViewModel() { MyProfileSelected = true })
}


<header class="page-header">
    <h1 class="page-title align-center">@ViewBag.Title</h1>
</header>

<h2 class="slogan align-center">
    Dane pracowników.
</h2>