@model List<EwiPraca.Models.UserViewModel>
@section navigation{

    @Html.Partial("_Menu", new MenuViewModel() { AdministrationSelected = true })

}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Lista użytkowników</h1>
            </div>
            <div class="panel-body">
                <table id="users-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.FirstNameDecrypted</td>
                                <td>@user.SurnameDecrypted</td>
                                <td>@user.EmailDecrypted</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" media="screen" />
    <script type="text/javascript">

        $(document).ready(function () {

            $('#users-data-table').DataTable({
                responsive: true,
                "oLanguage": {
                    "sSearch": "Szukaj: ",
                    "sEmptyTable": "Brak danych do wyświetlenia",
                    "sInfo": "_START_ do _END_ z _TOTAL_ wierszy",
                    "sInfoEmpty": "0 z 0 z 0 wierszy",
                    "oPaginate": {
                        "sNext": "Następna",
                        "sPrevious": "Poprzednia"
                    },
                    "sLengthMenu": "Pokaż na stronę: _MENU_",
                }
            });
        });
    </script>

}