@{
    ViewBag.Title = "Potwierdzenie wysłania wiadomości";
}
@section navigation{

    @Html.Partial("_Menu", new MenuViewModel())
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sprawdź skrzynkę email by zresetować hasło.
    </p>
</div>